input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

strong {
  color: #333;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  min-width: 320px;
  max-width: 750px;
  min-height: 280px;
  max-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.product-card img
{
  margin: auto;
  max-width: 200px;
  max-height: 300px;
}

.product-card strong {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card p {
  margin: 5px 0;
}
